<head>
<script src="app/assets/javascripts/popup.js"></script>
</head>
    <body>
<h1> These are all the available trips</h1>
<div class= "row">
 <table>

    <% @trips.each do |trip| %>
    <% if trip.owner_id != current_user.id %>
    <% if Time.now.strftime("%m/%d/%Y") < trip.trip_date.strftime("%m/%d/%Y") %>

    
    
      <tr>
      	<td> Trip Number: </td>
      	<td><%= trip.id %></td>
      	<td><div id= "pop"><%= link_to 'Open ', trip_path(trip)  %></div></td>
      </tr>
      <tr>
      	<td> Source: </td>
      	<td><%= trip.source %></td>
      </tr>
      <tr>
      	<td> Destination: </td>
      	<td><%= trip.destination %></td>
      </tr>
    <% end %>
    <% end %>
    
    

    <% end %>
 </table>   
</div>
<%= link_to 'Click Here to return to your profile', user_path(current_user) %></br>
<%= link_to 'Click Here to return to the homepage', root_path %>
</body>
